*{
    box-sizing: border-box;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}

body{
    font-family: "Source Sans Pro";
}

.cabecalho{
    background: white;
    padding: 15px; /*distanciando p menu 15px da lateal esquerda*/
}

.logo{
    background-image: url("../img/logotipo-preto.png");
    background-repeat: no-repeat;
    display: block;
    width: 120;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
}

/*logo com fundo branco no rodapé*/
.logo--branco{
    background-image: url("../img/logotipo-branco.png");
}

.menu-principal__btn{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /*apaga o texto*/
    background-color: #fff;
    background-image: url("../img/menuprincipal-btn-bg.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer; /*quando o usuario coloca o mouse sobre ele mudar para ficar clicavel*/

    /*colocando o botao abre e fecha no auto a direita*/
    position: absolute;
    top: 15px;
    right: 15px;
}

/*abrir e ffechar o menu*/
.menu-principal__btn--fechar{
    background-position: -48px 7px;

}

.menu-principal__lista{
    padding: 0; /* encostando o menu no lado esquerdo do navegador */
    list-style: none; /*removendo os pontos dos li dentro da lista*/
}

.menu-principal__item{
    text-decoration: none; /* removendo os sublinhados */
    font-weight: bold; /*deixando o texto em negrito*/
    color: #343434; /* colocando cor no texto */
    margin-bottom: 10px; /*dando margem 'distancia de 10px de cada menu' lembrando q tem q colocar display block*/
    display: block;
    font-size: 18px; /*fonte de 18px*/
}

/*criando modificador para ficar na pagina atual (tipo 'active do bootstrap')*/
.menu-principal__item--atual{
    color: red; /*qundo estiver na pagina a cor vai ficar vermelha*/

}

/*Rodape*/
.rodape{
    color: white; /*colocando o texto do rodapé branco*/
}

.rodape .logo {
    margin-bottom: 20px;
}

.rodape__linha-1{
    background-color: #272525; /* fundo tom cinza claro */
    background-image: url("../img/rodape-bg.jpg"); /*imagem de fundo do rodape*/
    background-size: cover; /* para a imagem ocupar todo tamanho do background */
    padding: 15px;

}

.rodape__linha-2{
    background-color: black; /* fundo preto direitos reservados */
    text-align: center; /*dexar o texto centralizado*/
    padding: 15px;
}

.rodape__coluna{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape__titulo{
    border-bottom: 1px solid white; /*colocando uma linha branca para dividir*/
    padding: 0 10px 10px 10px; /*posicionando o texto*/
    font-size: 18px; /*tamanho do texto (links, social)*/
}


.rodape__lista-links{
    padding: 0; /*remover o padding para não ficar com espaçamento a esquerda*/
    list-style: none; /*removendo os potinhos*/
}

.rodape__lista-links__item {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.rodape__lista-links__item::before{
    content: '>';
    margin-right: 8px;
    color: #f44242;
} 