.pagina-cabecalho{
    background-color: #dd3f3f;  /*cor de fundo*/
    background-image: url("../img/cabecalho-pagina-bg.jpg"); /*imagem de fundo*/
    background-attachment: fixed; /*deixando o conteudo de fundo fixo*/
    color: white; /*cor do titulo*/
    padding-top: 40px;
    padding-bottom: 40px;

}

.pagina-cabecalho__titulo{
    text-align: center; /*centralizar o texto*/
    text-transform: uppercase; /*texto sempre maiusculo*/
}

/*traço abaixo do titulo*/
.pagina-cabecalho__titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 0 auto; /*centralizando um elemento display block*/
    margin-top: 20px;
}

/*conteudo*/
.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*paragrafos*/
.pagina-conteudo p{
    color: #3a3a3a;
    line-height: 22px; /*esoaçamento entre as linhas*/
    margin-top: 20px;
    margin-bottom: 20px;
}

/*alinhando texto no centro criamdo uma classe de reaproveitamento*/

.text-center{
    text-align: center;
}